<div class="details-container">
    <div class="item">
        {{#each details.titledProperties as |prop|}}
        <p>
            {{prop.key}}:
            <b>{{prop.value}}</b>
        </p>
        {{/each}}

        <p>
            <a href="{{details.link}}">View in X-Force Exchange</a>
        </p>

        {{#each details.headerLists as |list|}}
        <h5>
            <i class="bts bt-fw bt-label h5"></i> {{list.header}}
        </h5>
        <ul>
            {{#each list.items as |item|}}
            <li>
                <span>{{item.key}}
                    <i>{{list.value}}</i>
                </span>
            </li>
            {{/each}}
        </ul>
        {{/each}}
        <div class="tag-container">
            <ul>
                {{#each details.tags as |tag|}}
                <li class="integration-summary-tag integration-border-color">
                    <span>{{tag}}</span>
                </li>
                {{/each}}
            </ul>
        </div>

        <div style="clear:both; margin-bottom: 5px;"></div>
    </div>
</div>