<div class="details-container">
    <div class="item">
        <p>
            Reason:
            <i>{{details.reason}}</i>
        </p>
        <p>
            Description:
            <i>{{details.reasonDescription}}</i>
        </p>
        <p>
            Score:
            <b>{{details.score}}</b>
        </p>

        {{#if hasCountry}}
        <p>
            Geo:
            <b>{{details.geo.countrycode}}</b> -
            <b>{{details.geo.country}}</b>
        </p>
        {{/if}} {{#if hasCategories}}
        <h5>
            <i class="bts bt-fw bt-label h5"></i> Categories
        </h5>
        <ul>
            {{#each-in details.cats as |key value|}}
            <li>
                <span>{{key}}:
                    <b>{{value}}</b>
                </span>
            </li>
            {{/each-in}}
        </ul>
        {{/if}} {{#if hasTags}}
        <h5>
            <i class="bts bt-fw bt-label h5"></i> Tags
        </h5>
        <div class="tag-container">
            <ul>
                {{#each details.tags as |tag|}}
                <li class="integration-summary-tag integration-border-color">
                    <span>{{tag.name}}</span>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}

        <div style="clear:both; margin-bottom: 5px;"></div>
    </div>
</div>